/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-12-30, 14:06:24
    Author     : ibm
*/
.banner
{
    width: 100%;
    height: 120px;
    background-color: #32c6f0;
    color: #fff;
    position: relative;
}
.system-title
{
    text-align: center;
    line-height: 120px;
    font-size: 36px;
    font-family: '微软雅黑','黑体';
    letter-spacing:0.1em; 
}
.login-info
{
    font-size: 14px;
    font-family: '微软雅黑','黑体';
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}
.main-part
{
    width: 80%;
    float: left;
    background-color: #e1e1e1;
}
.menu-title{
	color:#32c6f0;
        font-size:24px;
        font-weight: bold;
}
.sidebar ul{
    margin-bottom: 40px;
}
.sidebar ul li{
	height:36px;
	line-height:36px;
	font-size:18px;
	font-family:"黑体", "宋体", "新宋体";
	border-bottom-color:#3f3f3f;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.sidebar ul li a{
	display:block;
	text-decoration:none;
	font-family:"宋体", "新宋体";
	color:#fff;
	font-weight:lighter;
	padding-left:10px;
}
.sidebar ul li a:hover{
	color:#32c6f0;
	border-left-color:#ff9667;
	border-left-width:3px;
	border-left-style:solid;
}
.sidebar ul li:hover{
	background-color:#3f3f3f;
	color:#32c6f0;
}
.project-table
{
    margin-top: 10px;
    margin-left: 10px;
    color:#9d9c9a; 
    font-size:14px;
    border-collapse:collapse;
}
.project-table th
{ 
    background:#fffdfa url(../images/th.gif) repeat-x 0 0; 
    color:#818181; 
    text-align: left; 
    padding:7px 10px; 
    border-bottom:solid 1px #d2d1cb;
}
.project-table td
{ 
    background:#fbfcfc;  
    border-bottom:solid 1px #e0e0e0; 
    padding:8px 10px; 
}
.project-table tr.odd td{ 
    background:#f8f8f8; 
}
.project-table tr:hover td
{ 
    background:#ccffff; 
}
.project-table a img 
{ 
    border:0; 
}
.project-table a 
{ 
    color:#ba4c32; 
    text-decoration: underline; 
    cursor:pointer; 
}
.project-table a:hover 
{ 
    color:#8d341f; 
    text-decoration: none;
}
a.del 
{ 
    background-image:url(../images/del.gif)
}
a.edit 
{ 
    background-image:url(../images/edit.gif); 
    margin-left:14px;
}
a.ico 
{ 
    color:#9d9c9a; 
    font-size:12px; 
    text-decoration: none; 
    padding:0 0 0 14px; 
    background-repeat:no-repeat; 
    background-position:0 0; 
}
a.ico:hover 
{ 
    color:#333;
}
.add
{
   background-image:url(../images/add.png);  
   margin-left:14px;
   line-height: 12px;
   font-size: 12px;
   cursor: pointer;
   margin-top: 20px;
   margin-left: 10px;
   display: block;
}
.main-part-wrap
{
    margin:20px 15px;
}
.cat-title
{
    padding: 15px;
    background-color: #f6f6f6;
}
.bb10
{
    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}
.chart-a
{
    width: 100%;
    height: 300px;
    background-color: #fff;
    float: left;
}
.chart-b
{
    width: 50%;
    height: 300px;
    background-color: #fff;
    float: left;
}
.num-b
{
    width: 50%;
    height: 300px;
    background-color: #fff;
    float: left;
}
.l-num-title
{
    width: 50%;
    height: 120px;
    text-align: center;
    font-size: 24px;
    //font-family: "microsoft yahei","黑体";
    line-height: 120px;
    float: left;
}
.l-num
{
    width: 50%;
    height: 180px;
    text-align: center;
    font-size: 42px;
    font-family: "microsoft yahei","黑体";
    line-height: 100px;
    float: left;
    vertical-align: top;
}
.curr
{
    color: #32c6f0;
}
.last
{
    color: #D0D0D0;
}
.cat-title-op
{
    width: 100%;
    background-color: #f6f6f6;
}
.activated
{
    background-color: #b2b2b2;
}
.unactivated
{
    background-color: #32c6f0;
}
.op-list
{
    height: 35px;
    width: 250px;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-family: "microsoft yahei","黑体";
}
.cat-title-op a:link
{
    text-decoration: none; 
}
.cat-title-op a.unactivated:hover
{
    color: #fff;
    background-color: #2abae3;
}
.cat-title-op a.activated:hover
{
    color: #fff;
}
.search-input
{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 3px 8px;
    font-family: "microsoft yahei","黑体";
    font-size:16px;
}
.search-submit
{
    margin-left: 10px;
    padding:3px;
    height: 30px;
}
.search-result
{
    margin-top: 20px;
    margin-left: 30px;  
}
.time-span
{
    width: 80px;
    height: 28px;
    border: 1px #CCC solid;
    padding: 2px;
    margin: 3px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.time-span:hover
{
    background-color: #ccc;
}
.mt20 .has-switch
{
    float: left;
}
#db-select
{
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
}

