/*
File : index.css
Author : ibm   Email: zhangbobell@163.com
createTime : 2013-12-30
*/
*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-image: url(../images/index_bg.png);
    background-repeat: repeat;
}
.content{
   
    width: 100%;
}
.form-control{
    width: 200px;
    padding: 6px 12px;
    height: 21px;
    display: block;
    line-height: 1.428571429;
    border: 1px solid #ccc;
    font-family: verdana;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.login-form{
    width: 300px;
    height: 320px;
    padding: 13px 14px 15px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/transparent-18.png);
    background-repeat: repeat;
}
.login-btn{
    width:226px;
    height:36px;
    border:none;
    margin:25px auto;
    background-color: #3399ff;
    display: block;
    font-family: "黑体";
    font-size:15px;
    line-height: 36px;
}
.login-btn:hover{
    background-color: #32c6f0;
}
.form-title{
    height: 40px;
    width: 100px;
    line-height: 40px;
    font-size: 24px;
    font-family: "黑体";
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 200;
    margin: 5px auto;
}
.captcha{
    width: 226px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}
.captcha span{
    line-height: 30px;
    color:#fff;
    font-size: 14px;
    vertical-align: middle;
}
.captcha image{
    vertical-align: middle;
}
